
Tetris/Tetris/obj/Tetris.csproj.nuget.g.targets
Tetris/Tetris/obj/Tetris.csproj.nuget.g.props
Tetris/Tetris/obj/Tetris.csproj.nuget.dgspec.json
Tetris/Tetris/obj/Tetris.csproj.nuget.cache
Tetris/Tetris/obj/project.assets.json
Tetris/Tetris/obj/Debug/netcoreapp3.1/Tetris.csprojAssemblyReference.cache
Tetris/Tetris/obj/Debug/netcoreapp3.1/Tetris.assets.cache
Tetris/Tetris/obj/Debug/netcoreapp3.1/Tetris.AssemblyInfoInputs.cache
Tetris/Tetris/obj/Debug/netcoreapp3.1/Tetris.AssemblyInfo.cs
Tetris/.vs/Tetris/v16/Server/sqlite3/storage.ide-wal
Tetris/.vs/Tetris/v16/Server/sqlite3/storage.ide-shm
Tetris/.vs/Tetris/v16/Server/sqlite3/storage.ide
Tetris/.vs/Tetris/v16/Server/sqlite3/db.lock
Tetris/.vs/Tetris/v16/.suo
